.bg-nav{
  background-color: #26262a;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  animation: fadeInDown 0s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
