.MenuTitle {
    justify-content: center;
    display: flex;
}

.role {
    font-size: 13px;
}

.shoppingCart {
    font-size: 18px;
}

.orderReady {
    --width: 400px;
    --min-width: 250px;
    --height: 100px;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.orderText {
    text-align: center;
    margin: 20px 20px 10px 20px;
}

.wrapper {
    margin-bottom: 10px;
}

.modalMessage {
    justify-content: center;
    display: flex;
}